<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <div class="continer">
        <h1>Add An Employee: </h1>
    <br>
        <p>Add Employee Information</p>
        <hr>
        <div class="container">
            <form action="/add_emp" method="post">
                {% csrf_token %}
                
                <label for="first_name">First Name</label> <br>
                <input type="text" id="first_name" name="first_name" value ="{{first_name}}"><br>
                
                <label for="last_name">Last Name</label> <br>
                <input type="text" id="last_name" name="last_name" value="{{last_name}}"><br>

                <label for="dept">Department</label> <br>
                <select id="dept" name="dept">
                    {% for dept in all_depts %}
                        <option value="{{ dept.id }}">{{ dept.name }} ({{ dept.location }})</option>
                    {% endfor %}
                </select><br>
                
                <label for="salary">Salary</label> <br>
                <input type="number" id="salary" name="salary" value="{{salary}}"><br>

                <label for="role">Role</label> <br>
                <select id="role" name="role">
                    {% for role in all_roles %}
                        <option value="{{ role.id }}">{{ role.name }}</option>
                    {% endfor %}
                </select><br>     

                <label for="phone">Phone Number</label> <br>
                <input type="number" id="phone" name="phone" value="{{phone}}"><br>  
                    
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>