<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>All Employee</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <div class="continer">
        <h1>All Employee</h1>
        <p>All Employee Informations</p>
        <hr>
        <div class="container">
            <table class="table table-dark table-striped-columns">
            <thead>
                <tr>
                <th scope="col">SN</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Department</th>
                <th scope="col">Salary</th>
                <th scope="col">Role</th>
                <th scope="col">Phone</th>
                <th scope="col">Hairing Date</th>
                <th scope="col">Location</th>
                </tr>
            </thead>
            {% for emp in emps %}
            <tbody>
                <tr>
                <th scope="row">{{emp.id}}</th>
                <td>{{emp.first_name}}</td>
                <td>{{emp.last_name}}</td>
                <td>{{emp.dept.name}}</td>
                
                <td>{{emp.salary}}</td>
                
                <td>{{emp.role.name}}</td>
                <td>{{emp.phone}}</td>
                <td>{{emp.hire_date}}</td>

                <td>{{emp.dept.location}}</td>
                
                </tr>
            </tbody>
           {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>